Repository whitewolfdev410/azuro-orderbook-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --w, prettier -w, eslint --fix, stylelint --fix

chore: fix bug
  src/hooks/useOrderBook.ts
Due: prettier -w, eslint --fix

feat: fix error build
  src/hooks/useOrderBook.ts
  src/icons/sports/utils/getIconComponent.ts
Due: prettier -w, eslint --fix

feat: rename var
  src/hooks/useFixDisableReason.ts
Due: prettier -w, eslint --fix

license
  LICENSE.md
Due: prettier --w

fix comma
  package.json
Due: prettier --w

remove sports tag styles
  .eslintrc.json
  src/app/globals.css
  src/components/AllSportsTag/AllSportsTag.tsx
  src/components/AllSportsTag/styles/AllSportsTag.module.css
  src/components/Modal/BetModal.tsx
  src/providers/ExploreProvider.tsx
Due: prettier --w, prettier -w, eslint --fix, stylelint --fix

fix navigation
  package-lock.json
  package.json
  src/components/AllSportsTag/AllSportsTag.tsx
  src/components/NoData/NoData.tsx
  src/contexts/explore.ts
  src/hooks/index.ts
  src/hooks/useGameCategories.ts
  src/layouts/root/components/ExploreDialogContent.tsx
  src/providers/ExploreProvider.tsx
  yarn.lock
Due: prettier --w, prettier -w, eslint --fix

rework context
  src/app/page.tsx
  src/components/AllSportsTag/AllSportsTag.tsx
  src/components/GameMarkets.tsx
  src/components/NoData/NoData.tsx
  src/contexts/explore.ts
  src/layouts/root/components/ExploreDialogContent.tsx
  src/layouts/root/components/RootLayoutHeader.tsx
  src/providers/ExploreProvider.tsx
Due: prettier -w, eslint --fix

remove total
  src/components/Button/OutcomeButton.tsx
  src/components/GameMarkets.tsx
  src/layouts/root/components/SelectAppChain.tsx
Due: prettier -w, eslint --fix

update readme
  README.md
Due: prettier --w

fix link
  README.md
Due: prettier --w

get all navigation info
  src/providers/ExploreProvider.tsx
Due: prettier -w, eslint --fix

add rudimentary chart
  package-lock.json
  package.json
  src/components/BetChart/BetChart.tsx
  src/components/BetChart/index.ts
  src/components/Modal/BetModal.tsx
  src/hooks/useGameMarkets.ts
  src/providers/ApolloEnvioProvider.tsx
  yarn.lock
Due: prettier --w, prettier -w, eslint --fix

adjustable betchart values
  src/components/BetChart/BetChart.tsx
  src/components/Modal/BetModal.tsx
  src/components/OrderBookPage/OrderBook.tsx
  src/components/OrderBookPage/OrderBookPage.tsx
  src/contexts/explore.ts
  src/providers/ExploreProvider.tsx
Due: prettier -w, eslint --fix

fix chart adjusting
  src/components/BetChart/BetChart.tsx
  src/components/OrderBookPage/OrderBook.tsx
  src/components/OrderBookPage/OrderBookPage.tsx
  src/contexts/explore.ts
  src/providers/ExploreProvider.tsx
Due: prettier -w, eslint --fix

add league tab
  .vscode/launch.json
  src/app/page.tsx
  src/components/AllSportsTag/AllSportsTag.tsx
  src/components/LeaguesTag/LeaguesTag.tsx
  src/components/LeaguesTag/index.ts
  src/contexts/explore.ts
  src/providers/ExploreProvider.tsx
Due: prettier --w, prettier -w, eslint --fix

add league filter
  src/app/globals.css
  src/components/LeaguesTag/LeaguesTag.tsx
  src/contexts/explore.ts
  src/providers/ExploreProvider.tsx
Due: prettier --w, prettier -w, eslint --fix, stylelint --fix

add count to league tag
  src/components/LeaguesTag/LeaguesTag.tsx
Due: prettier -w, eslint --fix

create list view + fix participant style on gamecard
  src/app/page.tsx
  src/components/GameCard/GameCard.tsx
  src/components/GameCard/Participant.tsx
  yarn.lock
Due: prettier -w, eslint --fix

rudimentary list view
  src/app/page.tsx
  src/components/GameCard/GameCardList.tsx
  src/components/GameCard/Participant.tsx
  src/components/GameCard/index.ts
  src/components/GameInfo.tsx
Due: prettier -w, eslint --fix

fix alignment
  src/components/GameCard/GameCardList.tsx
Due: prettier -w, eslint --fix

fix height
  src/components/GameCard/GameCardList.tsx
Due: prettier -w, eslint --fix

get odds for list view
  src/app/event/[id]/page.tsx
  src/components/GameCard/GameCardList.tsx
Due: prettier -w, eslint --fix

fix odds on list view somewhat
  src/components/GameCard/GameCardList.tsx
Due: prettier -w, eslint --fix

fix alignment
  src/components/Button/OutcomeButton.tsx
  src/components/GameCard/GameCardList.tsx
Due: prettier -w, eslint --fix

update globals.css
  src/app/globals.css
Due: prettier --w, stylelint --fix

update list item padding
  src/components/GameCard/GameCardList.tsx
Due: prettier -w, eslint --fix

fix text above output button
  src/components/Button/OutcomeButton.tsx
  src/components/GameCard/GameCardList.tsx
  src/components/GameCard/Participant.tsx
  src/components/GameCard/constants.ts
Due: prettier -w, eslint --fix

fix datetime padding
  src/components/GameCard/GameCardList.tsx
Due: prettier -w, eslint --fix

move bet button to betslipbutton
  src/components/BetslipButton/Bet.tsx
  src/components/BetslipButton/Betslip.tsx
  src/components/Button/BetButton.tsx
Due: prettier -w, eslint --fix

add input bet amount field
  src/components/BetslipButton/Bet.tsx
  src/components/BetslipButton/SmallBetCard.tsx
Due: prettier -w, eslint --fix

fix input and winnings
  src/components/BetslipButton/Bet.tsx
  src/components/BetslipButton/Input.tsx
  src/components/BetslipButton/SmallBetCard.tsx
  src/components/Button/BetButton.tsx
Due: prettier -w, eslint --fix

refactor
  src/components/BetslipButton/Bet.tsx
  src/components/BetslipButton/SmallBetCard.tsx
  src/components/BetslipButton/Winnings.tsx
Due: prettier -w, eslint --fix

make left nav fixed
  package-lock.json
  src/app/page.tsx
  src/components/AllSportsTag/AllSportsTag.tsx
Due: prettier --w, prettier -w, eslint --fix

create batch bet button. TODO fix
  src/components/BetslipButton/Bet.tsx
  src/components/BetslipButton/Betslip.tsx
  src/components/Button/BatchBetButton.tsx
Due: prettier -w, eslint --fix

add to win total
  src/components/BetslipButton/Bet.tsx
  src/components/BetslipButton/Betslip.tsx
  src/components/Button/BatchBetButton.tsx
Due: prettier -w, eslint --fix

move navbar to left
  src/app/page.tsx
  src/components/AllSportsTag/AllSportsTag.tsx
Due: prettier -w, eslint --fix

bla bla
  src/app/page.tsx
  src/components/AllSportsTag/AllSportsTag.tsx
  src/components/BetslipButton/Betslip.tsx
  src/components/BetslipButton/BetslipButton.tsx
  src/components/BetslipButton/BetslipButtonContent.tsx
  src/components/LeaguesTag/LeaguesTag.tsx
  src/layouts/root/components/RootLayoutHeader.tsx
Due: prettier -w, eslint --fix

move betslip to right. look needs to be fixed
  src/app/page.tsx
  src/components/BetslipButton/BetslipButtonContent.tsx
  src/layouts/root/components/RootLayoutHeader.tsx
Due: prettier -w, eslint --fix

Path conditions:
  prettier --w: any of: *.{css,md,json}
  prettier -w: any of: *.{js,jsx,ts,tsx}
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.{css,scss}
